*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    margin: 1rem auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    box-sizing:border-box;
    font-size: 62.5;
}
header{
    padding:10px;
    text-align: center;
    
}
nav a{
    text-decoration: none;
    font-size: smaller;
}
nav ul{
    list-style-type:none;
    text-align: left;
    top:20px;
    left:80px;
}
nav li{
    display: inline;
    margin: .3rem;
}
.title{
    letter-spacing:.75rem;
    font-size: 20px;
}
.search_bar{
    margin-right:5rem;
    position: absolute;
    font-size: smaller;
    top:0;
    right:0;
}
.top_line{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}
.first-txt {
    position: relative;
    top: 41px;
    left: -51px;
    color: white;
    letter-spacing: .25rem;
    font-size: x-large;
    margin-bottom: 286px;
    margin-left: 104px;
 }
 .second-txt {
   top: 50px;
   color: white;
   letter-spacing: .25rem;
   font-size: x-large;
   float:right;
   margin-right: 40px;

 }

.home{
    height: 490px;
    width: 100%;
    background-image: linear-gradient(to right, black, transparent, black), url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-size: 100%;
    padding: 0;
    background-repeat: no-repeat;
    margin: 0;

}

main section{
    margin-top: 1rem;
    padding: 2rem;
}

.content_titles{
    padding:30px;
    font-size: x-large;
    text-align: left;
    letter-spacing: .25rem;
    position: absolute;
}

.content_hr{
    border: 1.5px solid black;
    width: 52%;
    position: relative;
    top: 80px;
}
.about_content{
    position: relative;
    bottom:-300px
}
.paragraph_one{
    margin-right: 3rem;
    position: relative;
    top: -13rem;
    right: 10rem;
    }
.paragraph_two{
    position:relative;
    top: -10rem;
}
.paragraph_three{
    position:relative;
}
.left_photo{
    display: flex;
    align-items: center;
    float: left;
    margin-right: 3rem;
}
.right_photo{
    float: right;
    position: relative;
    top: -250px;
}

.product_container{
    justify-items:center;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    display: grid;
    column-gap: 65px;
    row-gap: 70px;
}
.product_title{
    letter-spacing: .1rem;
}
.product_price{
    float:right;

}
.product_image{

    width: 400px;
    height: 400px;
}

.hr_product{
    width: 70%;
    border: 2px solid black;
}

.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
    float: right;
}

.learn_more{
    color: #bf7631
}

.contact_section{
    text-align:center
}
.email_box{
    width: 700px;
    height: 30px;
}

.message_box{
    width: 700px;
    height: 100px;
}
.contact_button{
    background-color: #bf7631;
    color: white;
    margin-right: -658px;
}
.email_tag{
    margin-left: -655px;
}
.message_tag{
    margin-left: -631px;
}
footer{
    background-color: #bf7631;
    padding:0px;
    width: 100%
}
 
.yt_icon{
    position: relative;
    left: 455px;
    bottom: -50px;
}

.fb_icon{
    position: relative;
    left: 462px;
    top: 50px;
}

.ig_icon{
    position: relative;
    left: 870px;
    bottom: 27px;
}

.t_icon{
    position: relative;
    left: 870px;
    bottom: 27px;
}

.center_icon{
    float: center;
    text-align: center;
    letter-spacing: .25rem;
    font-size: x-large;
}

.copyright{
    text-align:right;
    font-size: x-small;
    position: relative;
    top: -52px;
    right: 30px
    
}

.left_copyright_text{
    font-size: x-small;
    position: relative;
    top: -26px;
    right: -460px;
}

.right_copyright_text{
    font-size: x-small;
    position: relative;
    top: -38px;
    right: -756px;
}